body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #dad7cd;
}

header {
    background: #588157;
    color: #ffffff;
    padding: 1.5em 1em;
}

nav a {
    margin-right: 1em;
    color: #344e41;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1.5em;
    
}

section {
    background-color: #dad7cd;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: auto;
}

button {
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e65c5c;
}

.hidden {
    display: none;
}

#confirmation {
    margin-top: 1em;
    color: #344e41;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #999;
    padding: 0.5em;
    text-align: left;
}
